:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --ff-sans-serif: "Outfit", sans-serif;
  --ff-serif: "Young Serif", serif;
  --fs-base: 1rem;
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.75rem; /* 28px */
  --fs-2xl: 2.5rem; /* 40px */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --space-100: 0.5rem; /* 8px */
  --space-150: 0.75rem; /* 12px */
  --space-200: 1rem;
  --space-300: 1.5rem; /* 24px */
  --space-400: 2rem; /* 32px */
  --space-500: 2.5rem; /* 40px */
  --space-600: 3rem; /* 48px */
  --space-1600: 8rem; /* 128px */
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up root font size (1rem = 16px) */
html {
  font-size: 16px;
}

/* Base body styling */
body {
  min-height: 100vh; /* ensure body, at minimum, takes up entire screen and grows if needed */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--stone-100);
  font-family: var(--ff-sans-serif);
  color: var(--stone-600);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images and videos */
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Buttons and inputs */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Custom styles */

strong {
  font-weight: var(--fw-bold);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--space-1600) var(--space-600);
}

.card {
  background-color: var(--white);
  max-width: 736px;
  border-radius: var(--space-300);
  display: flex;
  flex-direction: column;
  padding: var(--space-500);
  gap: var(--space-500);
}

.card__hero {
  border-radius: var(--space-150);
}

.card h1 {
  margin-bottom: 1rem;
  color: var(--stone-900);
  font-weight: var(--fw-regular);
  font-family: var(--ff-serif);
  font-size: var(--fs-2xl);
  line-height: 1;
}

.card h3 {
  color: var(--rose-800);
  margin-bottom: var(--space-200);
  font-weight: var(--fw-semibold);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.card__preparation {
  background-color: var(--rose-50);
  border-radius: var(--space-150);
  padding: var(--space-300);
}

.card__preparation ul {
  list-style: disc inside;
}

.card__preparation ul li::marker {
  color: var(--rose-800);
}

.card__preparation ul li {
  margin-bottom: var(--space-200);
  padding-left: var(--space-200);
}

.card h2 {
  color: var(--brown-800);
  font-family: var(--ff-serif);
  line-height: 1;
  font-weight: var(--fw-regular);
  margin-bottom: var(--space-300);
}

.card__ingredients {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: var(--space-200);
}

.card__ingredients ul {
  list-style: disc inside;
}

.card__ingredients ul li::marker {
  color: var(--rose-800);
}

.card__ingredients ul li {
  margin-bottom: var(--space-200);
  padding-left: var(--space-200);
}
