/* =====================
   Reset Styles
   ===================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* =====================
   CSS Variables
   ===================== */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --ff-sans-serif: "Poppins", sans-serif;
  --fw-extralight: 200;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fs-text-preset-1: 1.5rem;
  --lh-text-preset-1: 1.4;
  --ls-text-preset-1: 0.00694em;
  --fs-text-preset-2: 1.5rem;
  --lh-text-preset-2: 1.4;
  --ls-text-preset-2: 0.00694em;
  --fs-text-preset-3: 1.25rem;
  --lh-text-preset-3: 1.35;
  --ls-text-preset-3: 0;
  --fs-text-preset-4: 0.9375rem;
  --lh-text-preset-4: 1.4;
  --ls-text-preset-4: 0;
  --fs-text-preset-5: 0.8125rem;
  --lh-text-preset-5: 1.6;
  --ls-text-preset-5: 0;
  --space-700: 4.625rem; /* add larger space 74px*/
  --space-600: 3.75rem; /* add larger space 60px*/
  --space-500: 2.5rem; /* 40px */
  --space-400: 2rem; /* 32px */
  --space-300: 1.5rem; /* 24px */
  --space-200: 1rem; /* 16px */
  --space-100: 0.5rem; /* 8px */
  --space-50: 0.25rem; /* 4px */

  --icon-dm: 64px;
}

/* =====================
   Utility Classes
   ===================== */
.text-preset-1 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-text-preset-1);
  line-height: var(--lh-text-preset-1);
  letter-spacing: var(--ls-text-preset-1);
}

.text-preset-2 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-extralight);
  font-size: var(--fs-text-preset-2);
  line-height: var(--lh-text-preset-2);
  letter-spacing: var(--ls-text-preset-2);
}

.text-preset-3 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-text-preset-3);
  line-height: var(--lh-text-preset-3);
  letter-spacing: var(--ls-text-preset-3);
}

.text-preset-4 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-regular);
  font-size: var(--fs-text-preset-4);
  line-height: var(--lh-text-preset-4);
  letter-spacing: var(--ls-text-preset-4);
}

.text-preset-5 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-regular);
  font-size: var(--fs-text-preset-5);
  line-height: var(--lh-text-preset-5);
  letter-spacing: var(--ls-text-preset-5);
}

/* =====================
   Custom Styles
   ===================== */
body {
  font-family: var(--ff-sans-serif);
  color: var(--grey-500);
  background-color: var(--white);
  min-height: 100vh;
}

main {
  padding-block: var(--space-600);
  display: grid;
  place-items: center;
  min-height: 100vh;
  gap: var(--space-600);
}

.title-wrapper {
  display: grid;
  grid-template-columns: minmax(314px, 540px);
  gap: var(--space-200);
}

.title,
.headline,
.description {
  text-align: center;
}

.card {
  border-radius: var(--space-100);
  padding: var(--space-400);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  box-shadow: 0 15px 30px -11px rgb(131, 166, 210, 0.5);
  height: 250px;
  max-width: 350px;
}

.card__icon {
  max-width: var(--icon-dm);
  align-self: flex-end;
}

.card--cyan {
  border-top: var(--space-50) solid var(--cyan);
}

.card--red {
  border-top: var(--space-50) solid var(--red);
}

.card--orange {
  border-top: var(--space-50) solid var(--orange);
}

.card--blue {
  border-top: var(--space-50) solid var(--blue);
}

/* =====================
   CSS Grid Areas Practice
   ===================== */

.card-wrapper {
  display: grid;
  gap: var(--space-400);
  grid-template-columns: minmax(314px, 1fr);
  grid-template-areas:
    "supervisor"
    "team-builder"
    "karma"
    "calculator";
}

.supervisor {
  grid-area: supervisor;
}

.team-builder {
  grid-area: team-builder;
}

.karma {
  grid-area: karma;
}

.calculator {
  grid-area: calculator;
}

@media (min-width: 48em) {
  .card-wrapper {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-template-areas:
      "supervisor supervisor"
      "karma team-builder"
      "calculator calculator";
  }
  .supervisor,
  .calculator {
    justify-self: center;
  }
}

@media (min-width: 90em) {
  .card-wrapper {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-template-areas:
      "supervisor team-builder calculator"
      "supervisor karma calculator";
  }

  .supervisor,
  .calculator {
    align-self: center;
  }
}

/* =====================
   CSS Grid Practice
   ===================== */

/* .card-wrapper {
  display: grid;
  gap: var(--space-400);
  grid-template-columns: repeat(auto-fit, minmax(314px, 350px));
  justify-content: center;
} */
