/* =====================
   Reset Styles
   ===================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* =====================
   CSS Variables
   ===================== */
:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --ff-serif: "Fraunces", serif;
  --ff-sans-serif: "Montserrat", sans-serif;
  --fw-bold: 700;
  --fw-regular: 500;
  --fs-text-preset-1: 2rem;
  --lh-text-preset-1: 1;
  --ls-text-preset-1: 0;
  --fs-text-preset-2: 0.875rem;
  --lh-text-preset-2: 1.1;
  --ls-text-preset-2: 0;
  --fs-text-preset-3: 0.875rem;
  --lh-text-preset-3: 1.6;
  --ls-text-preset-3: 0;
  --fs-text-preset-4: 0.75rem;
  --lh-text-preset-4: 1.2;
  --ls-text-preset-4: 0.42em;
  --fs-text-preset-5: 0.8125rem;
  --lh-text-preset-5: 1.2;
  --ls-text-preset-5: 0;
  --space-500: 2.5rem; /* 40px */
  --space-400: 2rem; /* 32px */
  --space-300: 1.5rem; /* 24px */
  --space-200: 1rem; /* 16px */
  --space-100: 0.5rem; /* 8px */
  --space-50: 0.25rem; /* 4px */
}

/* =====================
   Utility Classes
   ===================== */
.text-preset-1 {
  font-family: var(--ff-serif);
  font-weight: var(--fw-bold);
  font-size: var(--fs-text-preset-1);
  line-height: var(--lh-text-preset-1);
  letter-spacing: var(--ls-text-preset-1);
}

.text-preset-2 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-bold);
  font-size: var(--fs-text-preset-2);
  line-height: var(--lh-text-preset-2);
  letter-spacing: var(--ls-text-preset-2);
}

.text-preset-3 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-regular);
  font-size: var(--fs-text-preset-3);
  line-height: var(--lh-text-preset-3);
  letter-spacing: var(--ls-text-preset-3);
}

.text-preset-4 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-regular);
  font-size: var(--fs-text-preset-4);
  line-height: var(--lh-text-preset-4);
  letter-spacing: var(--ls-text-preset-4);
}

.text-preset-5 {
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-regular);
  font-size: var(--fs-text-preset-5);
  line-height: var(--lh-text-preset-5);
  letter-spacing: var(--ls-text-preset-5);
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: var(--white);
}

.btn-default {
  background-color: var(--green-500);
}

.btn-hover {
  background-color: var(--green-700);
}

/* =====================
   Custom Styles
   ===================== */
body {
  font-family: var(--ff-sans-serif);
  color: var(--grey);
  background-color: var(--cream);
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  max-width: 350px;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--white);
}

.product-card picture img {
  border-radius: 0.5rem 0.5rem 0 0;
}
