:root {
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up root font size (1rem = 16px) */
html {
  font-size: 16px;
}

/* Base body styling */
body {
  height: 100vh; /* make body element take up height of entire screen */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images and videos */
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Buttons and inputs */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}
